:root {
	--bg-color: #111;
	--text-color: #eee;
	--font-size: 32px;
	--highlight-color: #ffb7b7;
	--highlight-color-activated: #acadff;
	--highlight-cur: #ffb7b7;
	--font-type: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.light {
	--bg-color: #eee;
	--text-color: #111;
}

html, body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	height: 100%;
	overflow: hidden;

	transition: background .5s;
}

.editor::-webkit-scrollbar {
	display: none;
}

.editor {
	font-family: var(--font-type);
	overflow:hidden;
	color: var(--text-color);
	font-size: var(--font-size);
	resize: none;
	display: block;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: auto;
	overflow: auto;

	background: #0000;
	border: 4px double var(--text-color);
	
	transition: all .2s ease;
}

.editor::selection {
	background-color: var(--highlight-cur);
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
}
